slider-width = 37.14vw

.slider
  -webkit-appearance none
  appearance none
  width 100%
  max-width slider-width
  height 5px
  background #e5e5e5
  outline none
  border-radius 3px
.slider::-webkit-slider-thumb
  position relative
  -webkit-appearance none
  appearance none
  width 19px
  height 19px
  border-radius 50%
  cursor pointer
.slider_red::-webkit-slider-thumb
  background #e75735
.slider_green::-webkit-slider-thumb
  background #4eb7a8
.slider__popup
  position absolute
  padding 3px 5px 0 5px
  background #e75735
  font-size 1.3rem
  color #ffffff
  border-radius 3px
  transition opacity 0.2s
  opacity 0
.slider__popup_showed
  opacity 1
.slider__popup::after
  content ""
  position absolute
  top 100%
  left 50%
  margin-left -3px
  border-width 3px
  border-style solid
  border-color #e75735 transparent transparent transparent
.slider_track
  background -webkit-linear-gradient(left, #4eb7a8 0%, #4eb7a8 1%, #e5e5e5 1% ,#e5e5e5 100%)
.slider__grade
  display none
.slider__grade_true
  display flex
  justify-content space-between
  margin-top 12px
  max-width slider-width
  width 100%
.slider__value
  color #d1d1d1
  font-size 1.1rem