slider-width = 37.14vw

.sliders
    -webkit-appearance none
    appearance none 
    width 100%
    max-width slider-width
    height 5px
    background #e5e5e5
    outline none
    border-radius 3px
.sliders::-webkit-slider-thumb
    position relative
    -webkit-appearance none
    appearance none
    width 19px
    height 19px
    border-radius 50%
    cursor pointer
.sliders_red::-webkit-slider-thumb
    background #e75735
.sliders_green::-webkit-slider-thumb
    background #4eb7a8
.sliders__popup
    position absolute
    padding 3px 5px 0 5px
    background #e75735
    font-family 'Conv_Lato-Black'
    font-size 13px
    color #ffffff
    border-radius 3px
    transition opacity 0.2s
    opacity 0
.sliders__popup_show
    opacity 1
.sliders__popup::after
    content ""
    position absolute
    top 100%
    left 50%
    margin-left -3px
    border-width 3px
    border-style solid
    border-color #e75735 transparent transparent transparent
.sliders_track
    background -webkit-linear-gradient(left, #4eb7a8 0%, #4eb7a8 1%, #e5e5e5 1% ,#e5e5e5 100%)
.sliders__grade
    display none
    justify-content space-between
    margin-top 12px
    width slider-width
.sliders__grade_grade
    display flex
.sliders__value
    color #d1d1d1
    font-size 11px
    font-family 'Conv_Lato-Black'