.events
    .events__image
    .events__content
        .events__date
            .events__date_num 24 
            .events__date_month Aug
        .events__header THIS IS THE TITLE
        .events__text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        button.events__button ADD TO CALENDAR