.events
  display flex
  width 555px
  height 405px
  @media only screen and (max-width 800px)
    width 288px
    height 212px
  &__image-container
    float left
    width 32.99%
  &__image
    width 100%
    height 100%
    border-radius 5px 0 0 5px
  &__content
    float left
    width 67.01%
    border-radius 0 5px 5px 0
    background #4eb7a8
    color #ffffff
    padding 0 0 13px 44px
    @media only screen and (max-width 800px)
      padding 0 0 7px 22px
  &__title
    font-size 2.4rem
    margin-top 16px
    @media only screen and (max-width 800px)
      font-size 1.25rem
      margin-top 8.5px
  &__date
    font-family 'Lato', Arial, sans-serif
    font-weight 300
    font-style normal
    margin-top 29px
    @media only screen and (max-width 800px)
      margin-top 15px
  &__num
      font-size 14.07rem
      line-height 14.07rem
      display inline-block
      @media only screen and (max-width 800px)
        font-size 7.3rem
        line-height 7.3rem
  &__month
      font-size 5.8rem
      display inline-block
      margin-left 18px
      @media only screen and (max-width 800px)
        font-size 3rem
        margin-left 9px
  &__text
    font-family 'Lato', Arial, sans-serif
    font-weight 400
    font-style normal
    font-size 2.1rem
    margin-top 13px
    @media only screen and (max-width 800px)
      font-size 1.1rem
      margin-top 7px
  &__button
    box-sizing border-box
    border-radius 3px
    cursor pointer
    font-family 'Lato', Arial, sans-serif
    font-weight 900
    font-style normal
    text-transform uppercase
    color #4eb7a8
    font-size 1.93rem
    width 247px
    height 48px
    background-color #ffffff
    border solid #28a290
    border-width 0 0 3px 0
    margin-top 40px
    @media only screen and (max-width 800px)
      font-size 1rem
      width 128px
      height 25px
      margin-top 21px
    &:active
      background #28a290
      color #ffffff
      border #ffffff solid 
      border-width 1px 1px 3px 1px