@media only screen and (max-width 700px)
    .events
        display flex
        width 288px
        height 212px
        &__image
            float left
            width 32.99%
            border-radius 5px 0 0 5px
            background url('../images/13.jpg') 50% 50% no-repeat
            background-size cover
        &__content
            float left
            width 67.01%
            border-radius 0 5px 5px 0
            background #4eb7a8
            color #ffffff
            padding-left 22px
        &__header
            font-family 'Conv_Lato-Black'
            font-size 12.5px
            margin-top 8.5px
        &__date
            font-family 'Conv_Lato-Light'
            margin-top 15px
            &_num
                font-size 73px
                line-height 73px
                display inline-block
            &_month
                font-size 30px
                display inline-block
                margin-left 9px
        &__text
            font-family 'Conv_Lato-Regular'
            font-size 11px
            margin-top 7px
        &__button
            box-sizing border-box
            border-radius 3px
            cursor pointer
            outline none
            font-family 'Conv_Lato-Black'
            color #4eb7a8
            font-size 10px
            width 128px
            height 25px
            background-color #ffffff
            border solid #28a290
            border-width 0 0 3px 0
            margin 21px 0 0 7px
            &:active
                background #28a290
                color #ffffff
                border #ffffff solid 
                border-width 1px 1px 3px 1px    
@media only screen and (min-width 700px)
    .events
        display flex
        width 41.14vw
        height 30vw
        &__image
            float left
            width 32.99%
            border-radius 5px 0 0 5px
            background url('../images/13.jpg') 50% 50% no-repeat
            background-size cover
        &__content
            float left
            width 67.01%
            border-radius 0 5px 5px 0
            background #4eb7a8
            color #ffffff
            padding-left 3.28vw
        &__header
            font-family 'Conv_Lato-Black'
            font-size 1.8vw
            margin-top 1.2vw
        &__date
            font-family 'Conv_Lato-Light'
            margin-top 2.14vw
            &_num
                font-size 10.43vw
                line-height 10.43vw
                display inline-block
            &_month
                font-size 4.3vw
                display inline-block
                margin-left 1.3vw
        &__text
            font-family 'Conv_Lato-Regular'
            font-size 1.57vw
            margin-top 1vw
        &__button
            box-sizing border-box
            border-radius 3px
            cursor pointer
            outline none
            font-family 'Conv_Lato-Black'
            color #4eb7a8
            font-size 1.43vw
            width 18.3vw
            height 3.57vw
            background-color #ffffff
            border solid #28a290
            border-width 0 0 3px 0
            margin 3vw 0 0 1vw
            &:active
                background #28a290
                color #ffffff
                border #ffffff solid 
                border-width 1px 1px 3px 1px