.news
    .news__image
    .news__content
        .news__header It's all going downhill
        .news__date 24 AUGUST 2013
        .news__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.