script(src="https://use.fontawesome.com/releases/v5.0.7/js/all.js" defer)

.messaging
    .messaging__header
        span.messaging__name Atickus Finch
        .messaging__avatar
    .messaging__body
        .messaging__icons
            <i class="fas fa-envelope"></i>
            <i class="fas fa-camera"></i>
        .messaging__message.messaging__message_get Hurr!
        .messaging__message.messaging__message_give Durr!
        button.messaging__button REPLY