.messaging__header
    position relative
    width 288px
    height 116px
    border-radius 4px 4px 0 0
    background -webkit-linear-gradient(top, #4eb7a8 0%, #4eb7a8 71%, #46ab9d 71%, #46ab9d 100%)
    background -moz-linear-gradient(top, #4eb7a8 0%, #4eb7a8 71%, #46ab9d 71%, #46ab9d 100%)
    display flex
    flex-direction column
    align-items center    
.messaging__name
    font-family 'Conv_Lato-Regular'
    font-size 18px
    color #ffffff
    margin-top 23px
.messaging__avatar
    width 84px
    height 84px
    background-image url('../../src/images/15.jpg')
    background-position 50% 50%
    background-size cover
    border #e5e5e5 solid
    border-width 4px
    border-radius 50%
    position absolute
    top (100% - @height/2 + @border-width)
    z-index 999
.messaging__body
    width 288px
    height 312px
    background #f2f2f2
    border-radius 0 0 4px 4px
    padding 23px 22px 26px 22px
.messaging__icons
    color #8e8d8d
    display flex
    justify-content space-between
    margin 0 5px
.icons:hover
    cursor pointer
    color #46ab9d
.messaging__chat-box
    position relative
    max-height 84px
    overflow-y auto
    overflow-x hidden
    &::-webkit-scrollbar
        position absolute
        left 120%
        top 0
        width 5px
    &::-webkit-scrollbar-track
        background #f2f2f2
    &::-webkit-scrollbar-thumb
        background #8e8d8d
        height 5px
        border-radius 2px
.messaging__message
    font-family 'Conv_Lato-Bold'
    font-size 12.5px
    color #868686
    position relative
    width 243px
    height 69px
    background #ffffff
    margin-top 15px
    border-radius 4px
    padding 18px
    outline none
    &_get
        overflow-wrap break-word
        &:before
            content ''
            border-style solid
            border-width 6px
            border-color transparent transparent #fff transparent
            position absolute
            bottom 100%
            left (50% - @border-width/2)
    &_give
        background #e5e5e5
        border #ffffff solid 2px
        box-sizing border-box
        height 88px
        overflow-y auto
        overflow-x hidden
        &::-webkit-scrollbar
            position absolute
            left 120%
            top 0
            width 5px
        &::-webkit-scrollbar-track
            background #f2f2f2
        &::-webkit-scrollbar-thumb
            background #8e8d8d
            height 5px
            border-radius 2px
.messaging__button
    box-sizing border-box
    border-radius 3px
    cursor pointer
    border none
    outline none
    font-family 'Conv_Lato-Black'
    font-size 12px
    color #fff
    background-color #4eb7a8
    border-bottom #28a290 solid 3px
    width 243px
    height 35px
    margin-top 15px
    &:active
        color #4eb7a8
        background-color #ffffff
        border #28a290 solid
        border-width 1px 1px 3px 1px