mixin news(date, title, text, ImgSrc)
    div(class="news")
        div(class="news__image-container")
            img(class="news__image" src=ImgSrc alt="pic")
        div(class="news__content")
            div(class="news__title")=title 
            div(class="news__date")=date 
            div(class="news__text")=text