mixin calendar()
    article.calendar
        header.calendar__header
            .calendar__date
            section.calendar__slider
                .calendar__button.calendar__button_left
                .calendar__month
                .calendar__button.calendar__button_right
            ul.calendar__week-list
                li.calendar__day mon
                li.calendar__day tue
                li.calendar__day wen
                li.calendar__day thu
                li.calendar__day fri
                li.calendar__day sat
                li.calendar__day sun
        section.calendar__body
            ul.calendar__list
                li.calendar__list-item
                li.calendar__list-item
                li.calendar__list-item
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item
                li.calendar__list-item
        footer.calendar__footer
            .calendar__info