mixin calendar()
    article.calendar
        header.calendar__header
            .calendar__date
            section.calendar__slider
                .calendar__button.calendar__button_left
                .calendar__month
                .calendar__button.calendar__button_right
            .calendar__week-list
                .calendar__day mon
                .calendar__day tue
                .calendar__day wen
                .calendar__day thu
                .calendar__day fri
                .calendar__day sat
                .calendar__day sun
        section.calendar__body
            ul.calendar__list
                li.calendar__list-item
                li.calendar__list-item
                li.calendar__list-item
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item 
                li.calendar__list-item
                li.calendar__list-item
        footer.calendar__footer
            .calendar__info