.calendar__header
  width 279px
  border-radius 4px 4px 0 0
  background #e75735
  display flex
  flex-direction column
  align-items center
  justify-content space-between
  color #ffffff
.calendar__date
  font-family 'Lato', Arial, sans-serif
  font-weight 300
  font-style normal
  font-size 8rem
  margin-top 15px
.calendar__slider
  background #d54c2c
  width 100%  
  text-align center
.calendar__month
  display inline-block
  font-family 'Lato', Arial, sans-serif
  font-weight 300
  font-style normal
  font-size 2.4rem
  line-height 43px
  width 72%
.calendar__button
  display inline-block
  height 43px
  width 14%
  cursor pointer
  &:hover
    background rgba(255, 175, 100, 1)
  &_left
    float left
    display flex
    justify-content center
    align-items center
    &:after
      display inline-block
      content ''
      border solid #ffffff
      border-width 0 0 2px 2px
      padding 4px
      transform rotate(45deg)
  &_right
    float right
    display flex
    justify-content center
    align-items center
    &:after
      display inline-block
      content ''
      border solid #ffffff
      border-width 0 0 2px 2px
      padding 4px
      transform rotate(-135deg)
.calendar__week-list
  padding 0
  margin 0
.calendar__day
  display inline-block
  font-size 0.9rem
  text-transform uppercase
  padding 10px 10px 9px 10px
.calendar__body
  width 279px
.calendar__list
  margin 0
  padding 0
  display flex
  flex-wrap wrap
  justify-content space-between
.calendar__list-item
  display inline-block
  width 39px
  background #f2f2f2
  font-family 'SourceSansPro', Arial, sans-serif
  font-size 2rem
  margin-top 1px
  text-align center
  line-height 39px
  cursor pointer
  color #868686
  &_empty
    color #ffffff
  &_active
    background #e75735
    color #ffffff
.calendar__footer
  width 279px
  line-height 49px
  background #e5e5e5
  border-radius 0 0 4px 4px
  margin-top 1px
.calendar__info
  color #868686
  font-size 1.3rem
  margin-left 20px