mixin drop-down(option1, option2, option3, option4)
    div(class="drop-down")
        form(class="drop-down__form" action="/")
            select(class="drop-down__input" type="text" name="drop-down")
                option(value="default" disabled selected) Choose An option
                option(value="option2")= option1
                option(value="option3")= option2
                option(value="option4")= option3
                option(value="option5")= option4