div(class="drop-down")
    form(class="drop-down__form" action="/")
        select(class="drop-down__input" type="text" name="drop-down")
            option(value="default" disabled selected) Choose An option
            option(value="option2") option2
            option(value="option3") option3
            option(value="option4") option4
            option(value="option5") option5