.search
  display inline-block
.search__input
  float left
  border none
  border-radius 5px 0 0 5px
  width 255px
  min-height 30px
  padding 5px 0 7px 8px
  font-family 'SourceSansPro', Arial, sans-serif
  font-size 1.4rem
  &_grey
    background #e5e5e5
    color #888888
  &_red
    background #e75735 
    color #ffffff   
    &::placeholder
      color #ffffff 
.search__button
  width 33px
  min-height 30px
  background #e75735
  border none
  border-radius 0 5px 5px 0
  float left
  color #ffffff
  cursor pointer
  &:hover
    background: rgb(255, 175, 100)