.search
  display inline-block
.search__input
  border none 
  outline none 
  border-radius 5px 0 0 5px
  height 28px
  width 255px
  padding 5px 0 7px 8px
  float left
  font-family 'Conv_SourceSansPro-Regular'
  font-size 14px
  &_grey
    background #e5e5e5
    color #888888
  &_red
    background #e75735 
    color #ffffff   
    &::placeholder
      color #ffffff 
.search__button
  width 33px
  height 28px
  background #e75735
  border none 
  outline none 
  border-radius 0 5px 5px 0
  float left
  color #ffffff
  cursor pointer
  &:hover
    background: rgba(255, 175, 100, 1)