.stages
    height 5px
    width 100%
    background -webkit-linear-gradient(left, #e75735 0%, #e5e5e5 0%, #e5e5e5 100%)
.stages__progress
    display flex
    justify-content space-between
    padding 0
    margin 0
    list-style none
.stages__mark
    float left
    height 30px
    width 30px
    border-radius 50%
    margin-top -(@height/2 - 2.5)        
    text-align center
    font-family 'Conv_Lato-Black'
    background #e5e5e5
    color #000000
    font-size 14px
    transition .6s
    &_full
        background #e75735
        color #ffffff
    &:before
         content ""
         display inline-block
         height 100%
         vertical-align middle