form.form
    .form__item.form__item_no-margin
        input.form__input.form__name(type="text" placeholder="Your Name" required)
        .alert-wrapper
            .form__alert
    .form__item
        input.form__input.form__email(type="text" placeholder="Your Email" required)
        .alert-wrapper
            .form__alert
    .form__item
        .form__message(contenteditable="true" placeholder="Your Message")
    .form__item.form__submit
        input.sbm.sbm_color-green.sbm_color-green_border-bottom(type="submit" value="SUBMIT")