.arw-btn
    position relative
    width 44px
    height 44px
    outline none
    cursor pointer
    border-radius 50%
    &_white
        background-color #fff
        border #4eb7a8 solid 2px
        color #4eb7a8
        &:active
            background-color #4eb7a8
            border #4eb7a8 solid 2px
            color #fff
    &_green
        background-color #4eb7a8
        border #4eb7a8 solid 2px
        color #fff
        &:active
            background-color #fff
            border #4eb7a8 solid 2px
            color #4eb7a8
    &_grey
        background-color #e5e5e5
        border #e5e5e5 solid 2px
        color #fff
    &_left
        transform rotate(0deg)
    &_right
        transform rotate(180deg)
    &__text
        position absolute
        left 25%
        top 25%
        font-size 18px