.user-profile__img
    float left
    height 84px
    width 84px
    border 4px solid #e5e5e5
    border-radius 50%
    background-position 50% 50%
    background-repeat no-repeat
    background-size cover
#img1
    background-image url('../images/10.png')
#img2
    background-image url('../images/11.png')
.user-profile__info
    float left
    position relative
    width 163px
    height 93px
    border-radius 7px
    border none
    margin-left 12px
    padding 10px 0 15px 0
    &:before
        position absolute
        top 50%
        right 100%
        margin-top -3px
        content ''
        border-style solid 
        border-width 5px
    &_grey-orange
        background #e5e5e5
        &:before
            border-color transparent #e5e5e5 transparent transparent
    &_green-white
        background #4eb7a8
        &:before
            border-color transparent #4eb7a8 transparent transparent
.user-profile__name
    text-align center
    font-family 'Conv_Lato-Regular'
    font-size 18px
    &_grey-orange
        color #e75735
    &_green-white
        color #ffffff
.user-profile__spec
    text-align center
    font-family 'Conv_Lato-Black'
    font-size 11px
    margin-top 6px
    &_grey-orange
        color #4f4f4f
    &_green-white
        color #ffffff
.icon__container
    margin-top 14px
    margin-left 17%
.user-profile__icon
    margin 0 11px 0 11px
    cursor pointer
    &_grey-orange
        color #757575
        &_red
            color #e75735
    &_green-white
        color #ffffff