.contact.contact_margin
    .header
        .header__circle.header__circle_contact
        span.header__name CONTACT
        .header__line
    .contact__item.contact__item_first
        .contact__name ADDRESS
        .contact__value Main Street, City.
    .contact__item
        .contact__name E-MAIL
        .contact__value contact@domain.com
    .contact__item
        .contact__name PHONE
        .contact__value 555-555-555
    .contact__item
        .contact__name WEBSITE
        .contact__value www.yourweb.com