.contact
    &__item
        display flex
        margin-top 2.98vw
    &__name
        color #3d6cb0
        font-family "MyriadPro Bold"
        font-size 1.66vw
        flex-basis 30%
    &__value
        flex-basis 70%
        font-family 'MyriadPro Regular'
        font-size 1.66vw
.contact__item_first
        margin-top 3.0645vw