.education.education_margin
    .header
        .header__circle.header__circle_education
        span.header__name EDUCATION
        .header__line
    .education__item.education__item_first
        .education__dot
        .education__wrapper
            .education__degree
                span.level MASTER DEGREE
                span.date // Feb 2011 - Jun 2014
                span.university UNIVERSITY NAME
            .education__text
                | Leman Russ, also known as the Wolf King and the Great Wolf during his lifetime, is the currently missing Primarch of the Space Wolves Chapter of Space Marines. He led the Space Wolves Legion during the Great Crusade and the Horus Heresy.
    .education__item
        .education__dot
        .education__wrapper
            .education__degree
                span.level MASTER DEGREE
                span.date // Feb 2011 - Jun 2014
                span.university UNIVERSITY NAME
            .education__text
                | Leman Russ, also known as the Wolf King and the Great Wolf during his lifetime, is the currently missing Primarch of the Space Wolves Chapter of Space Marines. He led the Space Wolves Legion during the Great Crusade and the Horus Heresy.
    .education__item
        .education__dot
        .education__wrapper
            .education__degree
                span.level MASTER DEGREE
                span.date // Feb 2011 - Jun 2014
                span.university UNIVERSITY NAME
            .education__text
                | Leman Russ, also known as the Wolf King and the Great Wolf during his lifetime, is the currently missing Primarch of the Space Wolves Chapter of Space Marines. He led the Space Wolves Legion during the Great Crusade and the Horus Heresy.
    .education__item
        .education__dot
        .education__wrapper
            .education__degree
                span.level MASTER DEGREE
                span.date // Feb 2011 - Jun 2014
                span.university UNIVERSITY NAME
            .education__text
                | Leman Russ, also known as the Wolf King and the Great Wolf during his lifetime, is the currently missing Primarch of the Space Wolves Chapter of Space Marines. He led the Space Wolves Legion during the Great Crusade and the Horus Heresy.