.experience
    &__item
        display flex
        margin-left 0.62vw
        margin-top 1.4vw
    &__dot
        flex-shrink 0
        height 1.612vw
        width 1.612vw
        border-radius 50%
        background-color black
    &__wrapper
        margin-left 1.77vw
    &__degree
        display flex
        flex-wrap wrap
        .level
            font-family 'MyriadPro Bold'
            font-size 2.07vw
            line-height 2vw
        .date
            font-family 'MyriadPro Regular'
            margin-left 1.33vw
            font-size 2.07vw
            line-height 2vw
        .university
            font-family 'MyriadPro Regular'
            flex-basis 100%
            margin-top 0.8vw
            font-size 2.07vw
            line-height 2vw
    &__text
        @extends $textes
        margin-top 0.8vw
.experience__item_first
    margin-top 4.15vw