.experience.experience_margin
    .header
        .header__circle.header__circle_experience
        span.header__name EXPERIENCE
        .header__line
    .experience__item.experience__item_first
        .experience__dot
        .experience__wrapper
            .experience__degree
                span.level COMPANY NAME
                span.date // Feb 2011 - Jun 2014
                span.university YOUR JOB HERE
            .experience__text
                | Leman Russ, also known as the Wolf King and the Great Wolf during his lifetime, is the currently missing Primarch of the Space Wolves Chapter of Space Marines. He led the Space Wolves Legion during the Great Crusade and the Horus Heresy.
    .experience__item
        .experience__dot
        .experience__wrapper
            .experience__degree
                span.level COMPANY NAME
                span.date // Feb 2011 - Jun 2014
                span.university YOUR JOB HERE
            .experience__text
                | Leman Russ, also known as the Wolf King and the Great Wolf during his lifetime, is the currently missing Primarch of the Space Wolves Chapter of Space Marines. He led the Space Wolves Legion during the Great Crusade and the Horus Heresy.
    .experience__item
        .experience__dot
        .experience__wrapper
            .experience__degree
                span.level COMPANY NAME
                span.date // Feb 2011 - Jun 2014
                span.university YOUR JOB HERE
            .experience__text
                | Leman Russ, also known as the Wolf King and the Great Wolf during his lifetime, is the currently missing Primarch of the Space Wolves Chapter of Space Marines. He led the Space Wolves Legion during the Great Crusade and the Horus Heresy.