$header
    display flex
    align-items center
    justify-content space-between

$circles
    flex-shrink 0
    background-color #3d6cb0
    border-radius 50%
    position relative                                          
    background-repeat no-repeat
    background-position 50% 50%
    background-size 60% auto
    height 5.12vw
    width 5.12vw

$circles_before
    top -6%
    left -6%
    right -6%
    bottom -6%
    border-width 1px
    content " "
    position absolute
    z-index 1
    border 1px solid #3d6cb0
    border-radius 50%

$header_names
    font-family "MyriadPro Bold"
    font-size 3.32vw
    color #3d6cb0
    padding-left 15px

$header_lines
    margin 0 0 0 10px
    height 0.4vw
    flex-grow 1
    background-color #3d6cb0
$textes
    font-family 'MyriadPro Regular'
    font-size 1.24vw
    text-align left
$software_level
    display inline-block
    height 1.77vw
