@font-face
  font-family 'Lato'
  src url('../fonts/Lato-Black.eot')
  src local('☺'), url('../fonts/Lato-Black.woff') format('woff'), url('../fonts/Lato-Black.ttf') format('truetype')
  font-weight 900
  font-style normal

@font-face
  font-family 'Lato'
  src url('../fonts/Lato-BlackItalic.eot')
  src local('☺'), url('../fonts/Lato-BlackItalic.woff') format('woff'), url('../fonts/Lato-BlackItalic.ttf') format('truetype')
  font-weight 900
  font-style italic

@font-face
  font-family 'Lato'
  src url('../fonts/Lato-Bold.eot')
  src local('☺'), url('../fonts/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold.ttf') format('truetype')
  font-weight 700
  font-style normal

@font-face
  font-family 'Lato'
  src url('../fonts/Lato-BoldItalic.eot')
  src local('☺'), url('../fonts/Lato-BoldItalic.woff') format('woff'), url('../fonts/Lato-BoldItalic.ttf') format('truetype')
  font-weight 700
  font-style normal

@font-face
  font-family 'Lato'
  src url('../fonts/Lato-Hairline.eot')
  src local('☺'), url('../fonts/Lato-Hairline.woff') format('woff'), url('../fonts/Lato-Hairline.ttf') format('truetype')
  font-weight 100
  font-style normal

@font-face
  font-family 'Lato'
  src url('../fonts/Lato-HairlineItalic.eot')
  src local('☺'), url('../fonts/Lato-HairlineItalic.woff') format('woff'), url('../fonts/Lato-HairlineItalic.ttf') format('truetype')
  font-weight 100
  font-style italic

@font-face
  font-family 'Lato'
  src url('../fonts/Lato-Heavy.eot')
  src local('☺'), url('../fonts/Lato-Heavy.woff') format('woff'), url('../fonts/Lato-Heavy.ttf') format('truetype')
  font-weight 800
  font-style normal

@font-face
  font-family 'Lato'
  src url('../fonts/Lato-HeavyItalic.eot')
  src local('☺'), url('../fonts/Lato-HeavyItalic.woff') format('woff'), url('../fonts/Lato-HeavyItalic.ttf') format('truetype')
  font-weight 800
  font-style italic

@font-face
  font-family 'Lato'
  src url('../fonts/Lato-Italic.eot')
  src local('☺'), url('../fonts/Lato-Italic.woff') format('woff'), url('../fonts/Lato-Italic.ttf') format('truetype')
  font-weight 400
  font-style italic

@font-face
  font-family 'Lato'
  src url('../fonts/Lato-Light.eot')
  src local('☺'), url('../fonts/Lato-Light.woff') format('woff'), url('../fonts/Lato-Light.ttf') format('truetype')
  font-weight 300
  font-style normal

@font-face
  font-family 'Lato'
  src url('../fonts/Lato-LightItalic.eot')
  src local('☺'), url('../fonts/Lato-LightItalic.woff') format('woff'), url('../fonts/Lato-LightItalic.ttf') format('truetype')
  font-weight 300
  font-style italic

@font-face
  font-family 'Lato'
  src url('../fonts/Lato-Medium.eot')
  src local('☺'), url('../fonts/Lato-Medium.woff') format('woff'), url('../fonts/Lato-Medium.ttf') format('truetype')
  font-weight 500
  font-style normal

@font-face
  font-family 'Lato'
  src url('../fonts/Lato-MediumItalic.eot')
  src local('☺'), url('../fonts/Lato-MediumItalic.woff') format('woff'), url('../fonts/Lato-MediumItalic.ttf') format('truetype')
  font-weight 500
  font-style italic

@font-face
  font-family 'Lato'
  src url('../fonts/Lato-Regular.eot')
  src local('☺'), url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.ttf') format('truetype')
  font-weight 400
  font-style normal

@font-face
  font-family 'Lato'
  src url('../fonts/Lato-Semibold.eot')
  src local('☺'), url('../fonts/Lato-Semibold.woff') format('woff'), url('../fonts/Lato-Semibold.ttf') format('truetype')
  font-weight 600
  font-style normal

@font-face
  font-family 'Lato'
  src url('../fonts/Lato-SemiboldItalic.eot')
  src local('☺'), url('../fonts/Lato-SemiboldItalic.woff') format('woff'), url('../fonts/Lato-SemiboldItalic.ttf') format('truetype')
  font-weight 600
  font-style italic

@font-face
  font-family 'Lato'
  src url('../fonts/Lato-Thin.eot')
  src local('☺'), url('../fonts/Lato-Thin.woff') format('woff'), url('../fonts/Lato-Thin.ttf') format('truetype')
  font-weight 200
  font-style normal

@font-face
  font-family 'Lato'
  src url('../fonts/Lato-ThinItalic.eot')
  src local('☺'), url('../fonts/Lato-ThinItalic.woff') format('woff'), url('../fonts/Lato-ThinItalic.ttf') format('truetype')
  font-weight 200
  font-style italic

@font-face
  font-family 'Myriad Pro SemiExtended'
  src url('../fonts/Myriad Pro Bold SemiExtended.eot')
  src local('☺'), url('../fonts/Myriad Pro Bold SemiExtended.woff') format('woff'), url('../fonts/Myriad Pro Bold SemiExtended.ttf') format('truetype')
  font-weight 700
  font-style normal

@font-face
  font-family 'Myriad Pro SemiExtended'
  src url('../fonts/Myriad Pro Light SemiExtended.eot')
  src local('☺'), url('../fonts/Myriad Pro Light SemiExtended.woff') format('woff'), url('../fonts/Myriad Pro Light SemiExtended.ttf') format('truetype')
  font-weight 300
  font-style normal

@font-face
  font-family 'MyriadPro SemiCn'
  src url('../fonts/MyriadPro BlackSemiCn.eot')
  src local('☺'), url('../fonts/MyriadPro BlackSemiCn.woff') format('woff'), url('../fonts/MyriadPro BlackSemiCn.ttf') format('truetype')
  font-weight 900
  font-style normal

@font-face
  font-family 'MyriadPro'
  src url('../fonts/MyriadPro Bold.eot')
  src local('☺'), url('../fonts/MyriadPro Bold.woff') format('woff'), url('../fonts/MyriadPro Bold.ttf') format('truetype')
  font-weight 700
  font-style normal

@font-face
  font-family 'MyriadPro'
  src url('../fonts/MyriadPro Regular.eot')
  src local('☺'), url('../fonts/MyriadPro Regular.woff') format('woff'), url('../fonts/MyriadPro Regular.ttf') format('truetype')
  font-weight 400
  font-style normal

@font-face 
	font-family 'SourceSansPro'
	src url('../fonts/SourceSansPro-Regular.eot')
	src local('☺'), url('../fonts/SourceSansPro-Regular.woff') format('woff'), url('../fonts/SourceSansPro-Regular.ttf') format('truetype')
	font-weight 400
	font-style normal