include ./buttons/buttons.pug
include ./arw-buttons/arw-buttons.pug
include ./prc-charts/prc-charts.pug
include ./sliders/sliders.pug
include ./stages/stages.pug
include ./form-elements/toggles.pug
include ./form-elements/thick-boxes.pug
include ./search/search.pug
include ./user-profile/user-profile.pug
include ./news/events.pug
include ./news/news.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title UI-Kit
    body
        .wrapper
            .wrapper_space-left
            .wrapper_grid
                .wrapper__buttons
                    span.head STANDART BUTTONS
                    .buttons__item.buttons__item_big-margin
                        +buttons('s','green')
                        +buttons('b','green')
                        +buttons('b','red')
                        +buttons('s','red')            
                    .buttons__item
                        +buttons('s','green','border_bottom')
                        +buttons('b','green','border_bottom')
                        +buttons('b','red','border_bottom')
                        +buttons('s','red','border_bottom') 
                    .buttons__item
                        +buttons('s','green','empty')
                        +buttons('b','green','empty')
                        +buttons('b','red','empty')
                        +buttons('s','red','empty') 
                .wrapper__buttons 
                    span.head ARROW BUTTONS
                    .buttons__item.buttons__item_big-margin
                        +arw-buttons('white', 'left')
                        +arw-buttons('white', 'right')
                        +arw-buttons('grey', 'left')
                        +arw-buttons('grey', 'right')
                        +arw-buttons('green', 'left')
                        +arw-buttons('green', 'right')
                .wrapper__buttons 
                    span.head PERCENTAGES/PIE CHART
                    .charts-wrapper
                        .charts-item
                            +prcChart('0','1') 
                        .charts-item
                            +prcChart('38','1')
                        .charts-item
                            +prcChart('62','1')
                        .charts-item
                            +prcChart('89','1')
                        .charts-item.charts-item_pie
                            include ./prc-charts/pie-charts.pug
                .wrapper__buttons 
                    span.head SLIDERS
                .sliders__container
                    .sliders__item
                        +sliders('red','no','popup')
                    .sliders__item
                        +sliders('green','grade','track')
                .wrapper__buttons 
                    span.head STAGES
                .stages__wrapper
                    +stages('5')
                    br
                    input(type="number" id="test" min='0')
                .wrapper__buttons 
                    span.head FORM ELEMENTS
                .form__wrapper
                    .form__container
                        include ./form-elements/form-elements.pug
                    .form__container.form__container_toggles
                        span.head TOGGLES
                        .toggle__wrapper
                            .toggle_margin
                                +toggles()
                            .toggle_margin
                                +toggles('checked')
                        span.head.head_thick-boxes THICK BOXES
                        .toggle__wrapper
                            .toggle_margin
                                +thick-boxes('checked')
                            .toggle_margin
                                +thick-boxes()
                .search-profile__wrapper
                    .search-profile
                        span.head SEARCH / DROP DOWN 
                        .search-profile__container
                            +search('grey','Search')
                            +search('red',"I've not found what I'm looking for...")
                            include ./search/drop-down.pug
                    .search-profile
                        span.head USER PROFILE
                        .user-profile__container
                            +user-profile('grey-orange','img1', 'Alex Orange', 'ULTRAVIOLANCER')
                        .user-profile__container
                            +user-profile('green-white','img2', 'Zigmund Freid', 'WEB DESIGNER')
                .wrapper__buttons 
                    span.head NEWS & EVENTS
                .news__container
                    .news__item
                        +news('24 AUGUST 2013',"It's all going downhill","Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.")
                    .news__item
                        +events('24','Aug','THIS IS THE TITLE')
                .wrapper__buttons 
                    span.head LOCATION
                    .location__container
                        include ./location/location.pug
                .calendar__wrapper
                    span.head CALENDAR
                    include ./calendar/calendar.pug
                    
            .wrapper_space-right