@import '/buttons/buttons.styl'
@import '/arw-buttons/arw-buttons.styl'
@import '/prc-charts/prc-charts.styl'
@import '/sliders/sliders.styl'
@import '/stages/stages.styl'
@import '/form-elements/form-elements.styl'
@import '/form-elements/toggles.styl'
@import '/form-elements/thick-boxes.styl'
@import '/search/search.styl'
@import '/search/drop-down.styl'
@import '/user-profile/user-profile.styl'
@import 'fonts.styl'


*
    box-sizing border-box
body
    margin 0
    padding 0
.wrapper
    display flex
    margin-bottom 3%
    &_space-left
        flex-basis 7.57vw
    &_grid
        flex-basis 84.86vw
    &_space-right
        flex-basis 7.57vw
.head
    text-align center
    font-family 'Conv_Lato-Black'
    font-size 18px
    color #4f4f4f
.wrapper__buttons
    display flex
    flex-direction column
    margin-top 3%
.buttons__item
    display flex
    align-items flex-end
    justify-content center
    margin-top 20px
    &_big-margin
        margin-top 3%
.btn, .arw-btn
    margin 0 12px 0 12px
.charts-wrapper
    display flex
    justify-content space-around
.charts-item
    position relative
    height 13.57vw
    width 13.57vw
    margin-top: 20px
    &_pie
        padding 20px
        height 13.3vw
        width 13.3vw
.sliders__container
    display flex
    justify-content space-between
    margin-top 3%
.sliders__item
    max-width 500px
    width 100%
.stages__wrapper
    margin-top 3%
.form__wrapper
    display flex
    margin-top 3%
.form__container
    width 50%
    &_toggles
        display flex
        flex-direction column
        align-items center
.toggle__wrapper
    display flex
    margin-top 3%
.toggle_margin
    margin 0 7.5px 0 7.5px
.head_thick-boxes
    margin-top 3%
.search-profile__wrapper
    display flex
    margin-top 3%
.search-profile
    display flex
    flex-direction column
    width 50%
.search-profile__container
    margin-top 3%
    display flex
    flex-direction column
.user-profile__container
    margin-top 3%
    display flex
    justify-content center