@import '/buttons/buttons.styl'
@import '/arw-buttons/arw-buttons.styl'
@import '/prc-charts/prc-charts.styl'
@import '/sliders/sliders.styl'
@import '/stages/stages.styl'
@import '/form-elements/form/form-elements.styl'
@import '/form-elements/toggles/toggles.styl'
@import '/form-elements/thick-boxes/thick-boxes.styl'
@import '/search/search.styl'
@import '/search/drop-down.styl'
@import '/user-profile/user-profile.styl'
@import '/news/news.styl'
@import '/news/events.styl'
@import '/location/location.styl'
@import '/calendar/calendar.styl'
@import '/messaging/messaging.styl'
@import '/video/video.styl'
@import 'fonts.styl'

html
  font-family 'Lato', Arial, sans-serif
  font-weight 900
  font-style normal
  font-size 62.5%
  background #ffffff
  color #4f4f4f
*
  box-sizing border-box
body
  margin 0
  padding 0
.wrapper
  padding 0 7.57vw
  margin-bottom 3%
.head
  text-align center
  text-transform uppercase
  font-size 1.8rem
.container
  margin-top 3%
.flex-container
  display flex
  margin-top 3%
  &_flex-dir-col
    flex-direction column
  &_justified-between
    justify-content space-between
  &_justified-center
    justify-content center
.buttons__item
  display flex
  align-items flex-end
  justify-content center
  margin-top 20px
  &_big-margin
    margin-top 3%
.btn, .arw-btn
  margin 0 12px
.charts-wrapper
  display flex
  justify-content space-around
.charts-item
  position relative
  width 13.57vw
  margin-top: 20px
  &_pie
    padding 20px
    width 13.3vw
.sliders__item
  max-width 500px
  width 100%
.form-container
  width 50%
.toggles-boxes-container
  display flex
  flex-direction column
  align-items center
  width 50%
.toggles-boxes-container .flex-container + header
  margin-top 3%
.toggles-boxes-item
  margin 0 7.5px
.search-profile-container
  display flex
  flex-direction column
  width 50%
.search-item
  margin-top 15px
  &_no-margin
    margin 0
.user-profile__container
  margin-top 3%
  display flex
  justify-content center
.responsive-flex-container
  margin-top 3%
  display flex
  justify-content space-between
  @media only screen and (max-width 800px)
    flex-direction column
    align-items center
.calendar-messaging__wrapper
  display flex
  flex-direction column
  align-items center
  flex-basis 50%
  margin-top 3%
.video__container
  margin 3% auto 0 auto