<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="description" content="Create a set of standard web page elements")
        meta(name="keywords" content="html, css, ui-kit, buttons, sliders, forms")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png")
        link(rel="manifest" href="/favicons/site.webmanifest")
        link(rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#5bbad5")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
        title UI-Kit
    body
        include ./buttons/buttons.pug
        include ./arw-buttons/arw-buttons.pug
        include ./prc-charts/prc-charts.pug
        include ./sliders/sliders.pug
        include ./stages/stages.pug
        include ./form-elements/form/form-elements.pug
        include ./form-elements/toggles/toggles.pug
        include ./form-elements/thick-boxes/thick-boxes.pug
        include ./search/search/search.pug
        include ./search/drop-down/drop-down.pug
        include ./user-profile/user-profile.pug
        include ./news/events/events.pug
        include ./news/news/news.pug
        include ./calendar/calendar.pug
        include ./messaging/messaging.pug
        include ./video/video.pug
        .wrapper
            section.flex-container.flex-container_flex-dir-col
                header.head standart buttons
                .buttons-wrapper.buttons-wrapper_big-margin
                    .buttons-wrapper__item
                        +buttons({size: "s", color: "green", atr: "", text: "button" })
                    .buttons-wrapper__item
                        +buttons({size: "b", color: "green", atr: "", text: "button" })
                    .buttons-wrapper__item
                        +buttons({size: "b", color: "red", atr: "", text: "button" })
                    .buttons-wrapper__item
                        +buttons({size: "s", color: "red", atr: "", text: "button" })            
                .buttons-wrapper
                    .buttons-wrapper__item
                        +buttons({size: "s", color: "green", atr: "border-bottom", text:"button"})
                    .buttons-wrapper__item
                        +buttons({size: "b", color: "green", atr: "border-bottom", text: "button" })
                    .buttons-wrapper__item
                        +buttons({size: "b", color: "red", atr: "border-bottom", text: "button" })
                    .buttons-wrapper__item
                        +buttons({size: "s", color: "red", atr: "border-bottom", text: "button" }) 
                .buttons-wrapper
                    .buttons-wrapper__item
                        +buttons({size: "s", color: "green", atr: "empty", text:"button"})
                    .buttons-wrapper__item
                        +buttons({size: "b", color: "green", atr: "empty", text: "button" })
                    .buttons-wrapper__item
                        +buttons({size: "b", color: "red", atr: "empty", text: "button" })
                    .buttons-wrapper__item
                        +buttons({size: "s", color: "red", atr: "empty", text: "button" }) 
            section.container
                header.head arrows buttons
                .buttons-wrapper.buttons-wrapper_big-margin
                    .buttons-wrapper__item
                        +arw-buttons({color: "white", direct: "left"})
                    .buttons-wrapper__item
                        +arw-buttons({color: "white", direct: "right"})
                    .buttons-wrapper__item
                        +arw-buttons({color: "grey", direct: "left"})
                    .buttons-wrapper__item
                        +arw-buttons({color: "grey", direct: "right"})
                    .buttons-wrapper__item  
                        +arw-buttons({color: "green", direct: "left"})
                    .buttons-wrapper__item
                        +arw-buttons({color: "green", direct: "right"})
            section.container
                header.head percentages/pie-chart
                .charts-wrapper
                    .charts-wrapper__item
                        +prcChart({num: "1", prc: "0"})
                    .charts-wrapper__item
                        +prcChart({num: "1", prc: "38"})
                    .charts-wrapper__item
                        +prcChart({num:"1", prc: "62"})
                    .charts-wrapper__item
                        +prcChart({num: "1", prc: "89"})
                    .charts-wrapper__item.charts-wrapper__item-pie
                        include ./prc-charts/pie-charts.pug
            section.container
                header.head sliders
                .flex-container.flex-container_justified-between
                    .slider-wrapper
                        +slider({color: "red", gr: "no", style1: "popup"})
                    .slider-wrapper
                        +slider({color: "green", gr: "true", style1: "track"})
            section.container
                header.head stages
                .container
                    +stages({num: '5'})
                    .container
                        input(type="number" id="test" min="0")
            section.container
                header.head form elements
                .flex-container
                    section.form-wrapper
                        +form({color: "green", border: "border-bottom"})
                    section.toggles-boxes-wrapper
                        header.head toggles
                        .flex-container
                            .toggles-boxes-item
                                +toggles({status: false})
                            .toggles-boxes-item
                                +toggles({status: true})
                        header.head thick boxes
                        .flex-container
                            .toggles-boxes-item
                                +thick-boxes({status: true})
                            .toggles-boxes-item
                                +thick-boxes({status: false})
            section.responsive-flex-container
                section.search-wrapper
                    header.head search / drop down
                    .flex-container.flex-container_flex-dir-col
                        .search-wrapper-item.search-wrapper-item_no-margin
                            +search({color: "grey", defText: "Search"})
                        .search-wrapper-item
                            +search({color:"red", defText: "I've not found what I'm looking for..."})
                        .search-wrapper-item
                            +drop-down({option1: "option1", option2: "option2", option3: "option3", option4: "option4"})
                section.search-wrapper
                    header.head user profile
                    .flex-container.flex-container_justified-center
                        +user-profile({styleType: "grey-orange", imgSrc: "./images/10.png", name: "Alex Orange", spec: "ULTRAVIOLANCER"})
                    .flex-container.flex-container_justified-center
                        +user-profile({styleType: "green-white", imgSrc: "./images/11.png", name: "Zigmund Freid", spec: "WEB DESIGNER"})
            section.flex-container.flex-container_flex-dir-col
                header.head news &amp events
                .responsive-flex-container
                    .news-wrapper
                        +news({date: "24 AUGUST 2013", title: "It's all going downhill", text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros.", ImgSrc: "./images/12.jpg"})
                    .events-wrapper
                        +events({dateNum: "24", dateMonth: "Aug", title: "THIS IS THE TITLE", text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", ImgSrc: "./images/event-pic.jpg"})
            section.flex-container.flex-container_flex-dir-col
                header.head location
                .container
                    include ./location/location.pug
            section.flex-container
                .calendar-messaging-wrapper
                    header.head calendar
                    .container
                        +calendar()
                .calendar-messaging-wrapper
                    header.head messaging
                    .container
                        +messaging({name: "Константин Константинопольский", picSrc: "./images/15.jpg"})
            section.flex-container.flex-container_flex-dir-col
                header.head video
                .video-wrapper
                    +video({videoSrc: "https://www.youtube.com/embed/jL1zVdj1kcs"})
