doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Your cv
  body
    .wrapper
      .wrapper__space-left
      include grid-left.pug
      .wrapper__space-middle
      include grid-right.pug
      .wrapper__space-right