include ./buttons/buttons.pug
include ./arw-buttons/arw-buttons.pug
include ./prc-charts/prc-charts.pug


<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title UI-Kit
    body
        .wrapper
            .wrapper_space-left
            .wrapper_grid
                .wrapper__buttons
                    span.head STANDART BUTTONS
                    .buttons__item.buttons__item_big-margin
                        +buttons('s','green')
                        +buttons('b','green')
                        +buttons('b','red')
                        +buttons('s','red')            
                    .buttons__item
                        +buttons('s','green','border_bottom')
                        +buttons('b','green','border_bottom')
                        +buttons('b','red','border_bottom')
                        +buttons('s','red','border_bottom') 
                    .buttons__item
                        +buttons('s','green','empty')
                        +buttons('b','green','empty')
                        +buttons('b','red','empty')
                        +buttons('s','red','empty') 
                .wrapper__buttons 
                    span.head ARROW BUTTONS
                    .buttons__item.buttons__item_big-margin
                        +arw-buttons('white', 'left')
                        +arw-buttons('white', 'right')
                        +arw-buttons('grey', 'left')
                        +arw-buttons('grey', 'right')
                        +arw-buttons('green', 'left')
                        +arw-buttons('green', 'right')
                .wrapper__buttons 
                    span.head PERCENTAGES/PIE CHART
                    .charts-wrapper
                        .charts-item
                            +prcChart('0','1') 
                        .charts-item
                            +prcChart('38','1')
                        .charts-item
                            +prcChart('62','1')
                        .charts-item
                            +prcChart('89','1')
                        .charts-item.charts-item_pie
                            include ./prc-charts/pie-charts.pug
                .wrapper__buttons 
                    span.head SLIDERS
                    include ./sliders/sliders.pug
            .wrapper_space-right