.profile.profile_margin
    .header
        .header__circle.header__circle_profile
        span.header__name PROFILE
        .header__line
    .profile__text
        | Leman Russ, also known as the Wolf King and the Great Wolf during his lifetime, is the currently missing Primarch of the Space Wolves Chapter of Space Marines. He led the Space Wolves Legion during the Great Crusade and the Horus Heresy and is famed in Imperial history for his hatred of psychic powers and sorcery, which he viewed as dishonourable. Some recent rumours claim that he is the unknown Space Wolves Great Company Wolf Lord behind the recent return of the Space Wolves' 13th Company to realspace from 10,000 Terran years fighting the Forces of Chaos in the Warp during the 13th Black Crusade.
        b
            | Several tank variants used by the Imperial Guard have been named after him. Several sub-variants of that pattern of tank also exist in widespread use in the Imperium of Man, such as the Leman Russ Demolisher.