.skills
    &__body
        display flex
        flex-direction column
        align-items center
    &__item
        margin-top 1.81vw
    &__name
        text-align center
        font-family 'MyriadPro Regular'
        font-size 2.07vw
        padding-bottom 0.887vw
    &__value
        display flex
        justify-content space-between
        margin 0
        padding 0
        width 25.89vw
.value__circle
    border-radius 50%
    height 1.41vw
    width 1.41vw
    background-color #3d6cb0
.value__circle_empty
    background-color #e6e6e6
.skills__item_first
    margin-top 2.34vw