.skills.skills_margin
    .header
        .header__circle.header__circle_skills
        span.header__name SKILLS
        .header__line
    .skills__body
        .skills__item.skills__item_first
            .skills__name CREATIVE
            .skills__value
                .value__circle
                .value__circle
                .value__circle
                .value__circle
                .value__circle
                .value__circle
                .value__circle
                .value__circle
                .value__circle
                .value__circle.value__circle_empty
                .value__circle.value__circle_empty
                .value__circle.value__circle_empty
        .skills__item
            .skills__name TEAMWORK
            .skills__value
                .value__circle
                .value__circle
                .value__circle
                .value__circle
                .value__circle
                .value__circle
                .value__circle
                .value__circle
                .value__circle
                .value__circle
                .value__circle
                .value__circle.value__circle_empty
        .skills__item
            .skills__name INNOVATE
            .skills__value
                .value__circle
                .value__circle
                .value__circle
                .value__circle
                .value__circle
                .value__circle
                .value__circle.value__circle_empty
                .value__circle.value__circle_empty
                .value__circle.value__circle_empty
                .value__circle.value__circle_empty
                .value__circle.value__circle_empty
                .value__circle.value__circle_empty
        .skills__item
            .skills__name COMMUNICATION
            .skills__value
                .value__circle
                .value__circle
                .value__circle
                .value__circle
                .value__circle
                .value__circle
                .value__circle
                .value__circle
                .value__circle
                .value__circle
                .value__circle
                .value__circle.value__circle_empty