.software
    &__body
        display flex
        justify-content space-between
        margin-top 3.1vw
    &__body-left,
    &__body-right
        flex-basis 22.3vw
        justify-content start
        flex-direction column
    &__item
        margin-top 2.21vw
        &_first
            margin-top 0
    &__name
        font-family 'MyriadPro Regular'
        font-size 2.07vw
    &__level
        display flex
        flex-wrap nowrap
        margin-top 1.41vw
.full_photoshop
    @extends $software_level
    background-color #3d6cb0
    width 95%
.full_illustrator
    @extends $software_level
    background-color #3d6cb0
    width 70%
.full_indesign
    @extends $software_level
    background-color #3d6cb0
    width 50%
.full_dreamweaver
    @extends $software_level
    background-color #3d6cb0
    width 85%
.full_aftereffects
    @extends $software_level
    background-color #3d6cb0
    width 60%
.full_htmlcss
    @extends $software_level
    background-color #3d6cb0
    width 95%
.empty
    @extends $software_level
    background-color #e6e6e6
    flex-grow 1