.software.software_margin
    .header
        .header__circle.header__circle_software
        span.header__name SOFTWARE
        .header__line
    .software__body
        .software__body-left
            .software__item.software__item_first
                .software__name PHOTOSHOP
                .software__level
                    span.full_photoshop
                    span.empty
            .software__item
                .software__name ILLUSTRATOR
                .software__level
                    span.full_illustrator
                    span.empty
            .software__item
                .software__name INDESIGN
                .software__level
                    span.full_indesign
                    span.empty
        .software__body-right
            .software__item.software__item_first
                .software__name DREAMWEAVER
                .software__level
                    span.full_dreamweaver
                    span.empty
            .software__item
                .software__name AFTER EFFECTS
                .software__level
                    span.full_aftereffects
                    span.empty
            .software__item
                .software__name HTML and CSS3
                .software__level
                    span.full_htmlcss
                    span.empty