mixin buttons(size, color, atr, text, id)       
    button(type="button" id="btn-"+id class="btn btn_size_"+size+" btn_"+color+" btn_"+color+"_"+atr)= text
        div(class="ripple ripple_"+color)