.btn
  box-sizing border-box
  position relative
  border-radius 3px
  cursor pointer
  border none
  outline none
  font-weight 900
  font-style normal
  text-transform uppercase
  color #fff
  &_size_b                       
    width 118px
    height 32px
    font-size 1.8rem
  &_size_s
    width 78px
    height 22px
    font-size 1rem
  &_green
    background-color #4eb7a8
    &_border-bottom
        border-bottom #28a290 solid 3px
    &_empty
        background-color #ffffff
        border #4eb7a8 solid 1px
        border-bottom #4eb7a8 solid 3px
        color #4eb7a8
  &_red
    background-color #e75735
    &_border-bottom
      border-bottom #bf3e1f solid 3px
    &_empty
      background-color #ffffff
      border #e75735 solid 1px
      border-bottom #bf3e1f solid 3px
      color #e75735
.ripple
  width 1px
  height 1px
  border-radius 50%
  position absolute
  cursor pointer
  animation rippleShow 0.3s ease
  &_green
    background-color rgba(190, 243, 249, 0.3)
  &_red
    background-color rgba(246, 178, 162, 0.3)

@keyframes rippleShow
  0%
    transform scale(1)
  100%
    transform scale(70)