script(src="https://use.fontawesome.com/releases/v5.0.7/js/all.js" defer)

div(class="location__map" id="map") Map
div(class="location__bar")
    div(class="location__info")
        div(class="location__message") Meet us!
        div(class="location__address") 2 KIROV ST TOMSK, RF
    div(class="location__button-container")   
        button(class="location__button location__mark" id="mark")
            i(class="fas fa-map-marker-alt")
        button(class="location__button location__center" id="center")
            i(class="fas fa-crosshairs")
            
script.
    function myMap() {
        const mapCanvas = document.getElementById('map');
        const myCenter = new google.maps.LatLng(55.83, 49.06);
        const mapOptions = {
            center: myCenter,
            zoom: 17,
        };
        const map = new google.maps.Map(mapCanvas, mapOptions);
        const marker = new google.maps.Marker({
            position: myCenter, 
            icon: "images/14.png",
            animation: google.maps.Animation.DROP,
            draggable: true,
            });
        marker.setMap(map);

        const btnMark = document.getElementById('mark');
        const btnCenter = document.getElementById('center');

        const setMark = function setMarkToCurrentCenter() {    
            marker.position = map.getCenter();
            marker.setMap(map);
        };

        const returnToCenter = function returnToDefaultCenter() {
            map.panTo(myCenter);
        }

        btnMark.addEventListener('click', setMark, false);
        btnCenter.addEventListener('click', returnToCenter, false);
    }
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuI7KLAnp1-V15NterLpZP-TtTsgT_PTM&callback=myMap")