mixin drop-down({option1, option2, option3, option4})
    form(class="drop-down__form" action="/")
        div(class="drop-down")
            select(class="drop-down__input" type="text" name="drop-down")
                option(value="default" disabled selected) Choose An option
                option(value="option2")= option1
                option(value="option3")= option2
                option(value="option4")= option3
                option(value="option5")= option4