@import "../blocks/extends.styl"

*
    box-sizing border-box
body
    padding 0
    margin 0
.wrapper
    display flex
    margin-bottom 7.7vw
    &__space-left
        flex-basis 5.24vw
    &__space-middle
        flex-basis 6.49vw
    &__space-right
        flex-basis 4.637vw
.grid-left
    flex-basis 32.98vw
.grid-right
    flex-basis 50.65vw
.header
    @extends $header
    &__circle
        @extends $circles
        &:before
            @extends $circles_before
    &__name
        @extends $header_names
    &__line
        @extends $header_lines
.names_margin
    margin-top 8.3vw
.names
    display flex
    align-items center
    flex-direction column
    &__circle
        flex-shrink 0
        background-color #3d6cb0
        border-radius 50%
        position relative
        height 16.33vw
        width 16.33vw
        &:before
            content " "
            position absolute
            z-index 1
            top -7%
            left -7%
            right -7%
            bottom -7%
            border 1px solid #3d6cb0
            border-radius 50%
    &__list
        text-align center
        margin-top 4.27vw
    &__first-name
        font-family 'Myriad Pro Light SemiExtended'
        font-size 4.21vw
        line-height 0.71
    &__surname
        font-family "MyriadPro Bold"
        font-size 4.98vw
        line-height 0.71
        margin-top 1.169vw
    &__vacancy
        font-family 'MyriadPro BlackSemiCn'
        font-size 2vw
        margin-top 1.85vw
        line-height 0.71
.profile_margin
    margin-top 6.935vw
.header__circle_profile
    background-image url("../src/images/Profile_img.png")
.profile__text
    @extends $textes
    margin-top 1.45vw
.contact_margin
    margin-top 4.153vw
.header__circle_contact
    background-image url("../src/images/Contact_img.png")
.contact
    &__item
        display flex
        margin-top 2.98vw
    &__name
        color #3d6cb0
        font-family "MyriadPro Bold"
        font-size 1.66vw
        flex-basis 30%
    &__value
        flex-basis 70%
        font-family 'MyriadPro Regular'
        font-size 1.66vw
.contact__item_first
        margin-top 3.0645vw
.skills_margin
    margin-top 4.31vw
.header__circle_skills
    background-image url("../src/images/Skills_img.png")
.skills
    &__body
        display flex
        flex-direction column
        align-items center
    &__item
        margin-top 1.81vw
    &__name
        text-align center
        font-family 'MyriadPro Regular'
        font-size 2.07vw
        padding-bottom 0.887vw
    &__value
        display flex
        justify-content space-between
        margin 0
        padding 0
        width 25.89vw
.value__circle
    border-radius 50%
    height 1.41vw
    width 1.41vw
    background-color #3d6cb0
.value__circle_empty
    background-color #e6e6e6
.skills__item_first
    margin-top 2.34vw
.education_margin
    margin-top 6.45vw
.header__circle_education
    background-image url("../src/images/Education_img.png")
.education
    &__item
        display flex
        margin-left 0.62vw
        margin-top 1.4vw
    &__dot
        flex-shrink 0
        height 1.612vw
        width 1.612vw
        border-radius 50%
        background-color black
    &__wrapper
        margin-left 1.77vw
    &__degree
        display flex
        flex-wrap wrap
        .level
            font-family "MyriadPro Bold"
            color #3d6cb0
            font-size 2.07vw
            line-height 2vw
        .date
            font-family 'MyriadPro Regular'
            margin-left 1.33vw
            font-size 2.07vw
            line-height 2vw
        .university
            font-family 'MyriadPro Regular'
            flex-basis 100%
            margin-top 0.8vw
            font-size 2.07vw
            line-height 2vw
    &__text
        @extends $textes
        margin-top 0.8vw
.education__item_first
        margin-top 2.9vw
.experience_margin
    margin-top 4.8vw
.header__circle_experience
    background-image url("../src/images/Experience_img.png")
.experience
    &__item
        display flex
        margin-left 0.62vw
        margin-top 1.4vw
    &__dot
        flex-shrink 0
        height 1.612vw
        width 1.612vw
        border-radius 50%
        background-color black
    &__wrapper
        margin-left 1.77vw
    &__degree
        display flex
        flex-wrap wrap
        .level
            font-family 'MyriadPro Bold'
            font-size 2.07vw
            line-height 2vw
        .date
            font-family 'MyriadPro Regular'
            margin-left 1.33vw
            font-size 2.07vw
            line-height 2vw
        .university
            font-family 'MyriadPro Regular'
            flex-basis 100%
            margin-top 0.8vw
            font-size 2.07vw
            line-height 2vw
    &__text
        @extends $textes
        margin-top 0.8vw
.experience__item_first
    margin-top 4.15vw
.software_margin
    margin-top 4.8vw
.header__circle_software
    background-image url("../src/images/Software_img.png")
.software
    &__body
        display flex
        justify-content space-between
        margin-top 3.1vw
    &__body-left,
    &__body-right
        flex-basis 22.3vw
        justify-content start
        flex-direction column
    &__item
        margin-top 2.21vw
        &_first
            margin-top 0
    &__name
        font-family 'MyriadPro Regular'
        font-size 2.07vw
    &__level
        display flex
        flex-wrap nowrap
        margin-top 1.41vw
.full_photoshop
    @extends $software_level
    background-color #3d6cb0
    width 95%
.full_illustrator
    @extends $software_level
    background-color #3d6cb0
    width 70%
.full_indesign
    @extends $software_level
    background-color #3d6cb0
    width 50%
.full_dreamweaver
    @extends $software_level
    background-color #3d6cb0
    width 85%
.full_aftereffects
    @extends $software_level
    background-color #3d6cb0
    width 60%
.full_htmlcss
    @extends $software_level
    background-color #3d6cb0
    width 95%
.empty
    @extends $software_level
    background-color #e6e6e6
    flex-grow 1


@font-face
    font-family 'Myriad Pro Bold SemiExtended'
    src url('../src/fonts/Myriad Pro Bold SemiExtended.eot')
    src local('☺'), url('../src/fonts/Myriad Pro Bold SemiExtended.woff') format('woff'), url('../src/fonts/Myriad Pro Bold SemiExtended.ttf') format('truetype')
    font-weight normal
    font-style normal

@font-face
    font-family 'Myriad Pro Light SemiExtended'
    src url('../src/fonts/Myriad Pro Light SemiExtended.eot')
    src local('☺'), url('../src/fonts/Myriad Pro Light SemiExtended.woff') format('woff'), url('../src/fonts/Myriad Pro Light SemiExtended.ttf') format('truetype')
    font-weight normal
    font-style normal

@font-face
    font-family 'MyriadPro BlackSemiCn'
    src url('../src/fonts/MyriadPro BlackSemiCn.eot')
    src local('☺'), url('../src/fonts/MyriadPro BlackSemiCn.woff') format('woff'), url('../src/fonts/MyriadPro BlackSemiCn.ttf') format('truetype')
    font-weight normal
    font-style normal

@font-face
    font-family 'MyriadPro Bold'
    src url('../src/fonts/MyriadPro Bold.eot')
    src local('☺'), url('../src/fonts/MyriadPro Bold.woff') format('woff'), url('../src/fonts/MyriadPro Bold.ttf') format('truetype')
    font-weight normal
    font-style normal

@font-face
    font-family 'MyriadPro Regular'
    src url('../src/fonts/MyriadPro Regular.eot')
    src local('☺'), url('../src/fonts/MyriadPro Regular.woff') format('woff'), url('../src/fonts/MyriadPro Regular.ttf') format('truetype')
    font-weight normal
    font-style normal