.form
  display flex
  flex-direction column
  width 288px
.form__item
  display flex
  margin-top 12px
  &_no-margin
    margin-top 0
.form__input
  font-family 'SourceSansPro', Arial, sans-serif
  font-size 1.4rem
  color #888888
  padding-left 13px
  line-height 28px
  width 208px
  border-radius 3px
  border none 
  background #e5e5e5
.alert-container
  position relative
.form__alert
  position absolute
  margin-left 8px
  width 72px
  border-radius 3px
  text-align center
  line-height 28px
  color #ffffff
  font-family 'MyriadPro', Arial, sans-serif
  font-weight 400
  font-style normal
  font-size 1.4rem
  opacity 0
  transition opacity .3s
  &::after
    content ""
    position absolute
    top 50%
    right 100%
    border-width 4px
    margin-top -4px
    border-style solid
  &_red
    background #e75735
    opacity 1
    &::after
      border-color transparent #e75735 transparent transparent
  &_green
    background #4eb7a8
    opacity 1
    &::after
      border-color transparent #4eb7a8 transparent transparent
.form__message
  width 288px
  height 88px
  overflow-y auto
  border-radius 3px
  border none 
  background #e5e5e5
  font-family 'SourceSansPro', Arial, sans-serif
  font-size 1.4rem
  color #888888
  padding 13px
  &:empty::before
    content "Your Message"
.form__submit
  justify-content flex-end
.submit
  font-family 'Lato'
  font-weight 900
  font-style normal
  box-sizing border-box
  border-radius 3px
  cursor pointer
  border none
  color #fff
  font-size 1.2rem
  width 118px
  height 35px
  &_green
    background-color #4eb7a8
    border #28a290 solid 0px
    &:hover
      background rgba(100, 255, 175, 1)
  &_red
    background-color #ed1555
    border #ff1111 solid 0px
    &:hover
      background #ff8888
  &_border-bottom
    border-width 0 0 3px 0
    &:hover
      border-bottom rgba(150, 200, 150, 1) solid 3px