mixin form(color, border)
    form.form(name="my-form")
        section.form__item.form__item_no-margin
            input(class="form__input form__name" name="name" type="text" placeholder="Your Name" required)
            .alert-container
                .form__alert
        section.form__item
            input(class="form__input form__email" name="email" type="text" placeholder="Your Email" required)
            .alert-container
                .form__alert
        section.form__item
            .form__message(contenteditable="true")
        section.form__item.form__submit
            input(class="submit submit_"+color+ " submit_"+border type="submit" value="SUBMIT")